# phpstorm project files, netbeans project files:
/.idea
nbproject

# windows thumbnail cache:
Thumbs.db

# composer itself is not needed:
composer.phar

# Mac DS_Store Files:
.DS_Store

# phpunit itself is not needed, local phpunit config:
phpunit.phar
/phpunit.xml

# test:
tests/_output/*
tests/_support/_generated

# vagrant folder:
/.vagrant